<h1>Hola mundo</h1>

<form action="/createCookie" method="post">
    <label>Nombre: </label> <input type="text" name="nombre" /> <br /> <br />
    <label>Correo: </label> <input type="email" name="correo" /> <br /> <br />
    <button type="button" id="getCookieBtn">Get Cookie</button>
    <button type="submit">Enviar</button>
</form>

<script src="js/index.js"></script>