<div>
    <h1>Bienvenidos a coderchat</h1>
    <input id="chatBox" type="text" />
    <p id="messageBox"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>