<h1>Iniciar sesi칩n</h1>

<form action="/api/session/login" method="post">
    <label>Email: </label> <input type="email" name="email" id="emailInput"/> <br/><br/>
    <label>Contrase침a: </label> <input type="password" name="password" id="passwordInput" /> <br/><br/>
    <button type="submit">Iniciar sesi칩n</button>
    <label>No tienes cuenta? </label><button type="button"><a href="/register">Registrarse</a></button>
    <button type="button" id="restoreBtn">Restaurar Contrase침a</button>
</form>

<h5 id="resultMessage"></h5>

<script src="js/login.js"></script>