<h1>Login user</h1>

<form action="/api/session/login" method="post">
    <label for="">Email: </label> <input type="email" name="email" /> <br /><br /> 
    <label for="">Password: </label> <input type="password" name="password" /> <br /><br /> 
    <button type="submit">Iniciar sesión</button>
    <button type="button"><a href="/api/session/github">Entrar con github</a></button>
    <button type="button"><a href="/restore-password">Olvidaste tu contraseña?</a></button>
</form>