<form action="/api/users" method="post">
    <label>Nombre: </label> <input type="text" name="firstName" />
    <br />
    <br />
    <label>Apellido: </label> <input type="text" name="lastName" />
    <br />
    <br />
    <label>Edad: </label> <input type="number" name="age" />
    <br />
    <br />
    <label>Email: </label> <input type="email" name="email" />
    <br />
    <br />
    <label>Telefono: </label> <input type="text" name="phone" />
    <br />
    <br />
    <label>Rol: </label> <input type="text" name="role" />
    <br />
    <br />
    <button type="submit">Agregar Usuario</button>
</form>