<h1>Register user</h1>

<form action="/api/session/register" method="post">
    <label for="">Nombre</label> <input type="text" name="first_name" /> <br /> <br />
    <label for="">Apellido</label> <input type="text" name="last_name" /> <br /> <br />
    <label for="">Edad</label> <input type="number" name="age" /> <br /> <br />
    <label for="">Password</label> <input type="password" name="password" /> <br /> <br />
    <label for="">Email</label> <input type="email" name="email" /> <br /> <br />
    <button type="submit">Registrar</button>
</form>